body {
	font-family: 'EB Garamond', serif;
	margin-top: 40px;
	padding-right: 100px;
	padding-left: 100px;
  
  
  }
  
  p {
	font-size: 32px;
	text-align: center;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.85);
	font-style: normal;
	line-height: 1.2;
  }
  
  .green {
	color: #7ca34d
  }
  
  .blue {
	color: #007a87
  }